* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#root {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background: #f7f9fc;
}
